.Hero{
    display: flex;
    flex-direction: column;
    height: 500;
    width:1000px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 30px;
    margin: 30px;
}

.Hero_infos{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
}

.Hero_infos > div {
    text-align: start;
}

.Hero_image{
    width: 25%;
    border-radius: 50px;
}


ul{
    list-style : none;
}